body {
    margin: 0;
    padding: 0;
}

.navigation-bar {
    background-color: rgb(15, 16, 16);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    overflow: hidden;
}

a {
    color: white;
}